
.login-container {
    display: flex;
    width: 100%;
}

.welcome {
    display:flexbox;
    justify-content: center;
    width: 60%;
    background-color: #E9ECEF;
    text-align: center;
}

.welcome-h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.75rem;
    color: #4A90E2;
} 

.welcome-h2 {
    font-size: 2.25rem;
    color: #4A90E2;
} 

.login {
    display:flex;
    justify-content: center; 
    width: 40%;
    background-color: #4A90E2;
    text-align: center;
    height: 100vh;
}

.login-contents {
    width: 100% ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.login-form {
    
    margin-top: 0;
    padding-inline: 8rem;
}

.login-title {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 1.9rem;
    margin: 0;
    padding-top: 1.75rem;
    margin-bottom: 1rem;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image-espol {
    max-width: 100%;
    max-height: 100vh;
    width: 24rem;
    height: auto;
}

.password-forgot {
    margin: 0;
    margin-top: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-size: .875rem;
    font-weight: 600;
    line-height: 100%;
    color: #FFF;
}

.dashboard-container {
    display: flex;
}


.tabla-info {
    display:block;
  width: 100%;
  margin: 20px auto;
  margin-left: 15%;
  background: #f9fdff;
  border: 1px solid #cfe8f3;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', sans-serif;
}

.tabla-info div {
  padding: 8px 0;
  border-bottom: 1px solid #e0f7fa;
}

.tabla-info div:last-child {
  border-bottom: none;
}

.tabla-info strong {
  color: #0277bd;
}

.perfil-info {
  flex: 2;
  padding: 20px;
}

.tabla-perfil {
  width: 100%;
  border-collapse: collapse;
}

.tabla-perfil th {
  text-align: left;
  padding: 8px 12px;
  color: #333;
  font-weight: 600;
  width: 40%;
}

.tabla-perfil td {
  padding: 8px 12px;
  color: #222;
  background-color: #dcdcdc60;
}

.perfil-foto {
  flex: 1;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil-foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

